.loginContainer {
  width: 60vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}

.imageContainer {
  flex: 0.7;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3rem;
  gap: 1rem;
}
.button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-600);
  background-color: var(--primary-600);
  border-radius: 6px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.input {
  padding: 0.5rem;
  border: 1px solid var(--primary-600);
  border-radius: 6px;
  border: none;
  font-weight: 600;
  color: var(--primary-600);
  cursor: pointer;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}
.authOption {
  font-size: 14px;

  cursor: pointer;
}
.authOption span {
  font-size: 14px;
  color: var(--primary-600);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .loginContainer {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
  }
  .imageContainer {
    display: none;
  }
  .formContainer {
    padding: 0;
    gap: 0.5rem;
  }
}
